


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."application_status" AS ENUM (
    'applied',
    'screening',
    'shortlisted',
    'assessment_assigned',
    'assessment_completed',
    'interview_scheduled',
    'interview_completed',
    'offered',
    'hired',
    'rejected',
    'selected'
);


ALTER TYPE "public"."application_status" OWNER TO "postgres";


CREATE TYPE "public"."employment_type" AS ENUM (
    'full_time',
    'part_time',
    'contract',
    'internship'
);


ALTER TYPE "public"."employment_type" OWNER TO "postgres";


CREATE TYPE "public"."job_status" AS ENUM (
    'draft',
    'open',
    'closed'
);


ALTER TYPE "public"."job_status" OWNER TO "postgres";


CREATE TYPE "public"."profile_status" AS ENUM (
    'active',
    'inactive',
    'pending'
);


ALTER TYPE "public"."profile_status" OWNER TO "postgres";


CREATE TYPE "public"."screening_recommendation" AS ENUM (
    'strong_match',
    'possible_match',
    'weak_match'
);


ALTER TYPE "public"."screening_recommendation" OWNER TO "postgres";


CREATE TYPE "public"."user_role" AS ENUM (
    'admin',
    'hr',
    'employee',
    'candidate'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."current_user_role"() RETURNS "public"."user_role"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  select role from public.profiles where id = auth.uid()
  limit 1
$$;


ALTER FUNCTION "public"."current_user_role"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_application_reviews"() RETURNS TABLE("id" "uuid", "job_id" "uuid", "candidate_id" "uuid", "status" "text", "source" "text", "cover_note" "text", "created_at" timestamp with time zone, "updated_at" timestamp with time zone, "job_title" "text", "job_location" "text", "job_employment_type" "text", "candidate_profile_id" "uuid", "candidate_user_id" "uuid", "candidate_full_name" "text", "candidate_email" "text", "candidate_skills" "text"[], "candidate_experience_years" integer, "candidate_education" "text", "screening_score" integer, "screening_recommendation" "text", "screening_summary" "text", "screening_strengths" "text"[], "screening_concerns" "text"[], "screening_model" "text", "screening_created_at" timestamp with time zone)
    LANGUAGE "sql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  select
    ja.id,
    ja.job_id,
    ja.candidate_id,
    ja.status::text,
    ja.source::text,
    ja.cover_note,
    ja.created_at,
    ja.updated_at,
    jp.title as job_title,
    jp.location as job_location,
    jp.employment_type::text as job_employment_type,
    cp.id as candidate_profile_id,
    cp.user_id as candidate_user_id,
    p.full_name as candidate_full_name,
    p.email as candidate_email,
    cp.skills as candidate_skills,
    cp.experience_years as candidate_experience_years,
    cp.education as candidate_education,
    s.score as screening_score,
    s.recommendation::text as screening_recommendation,
    s.summary as screening_summary,
    s.strengths as screening_strengths,
    s.concerns as screening_concerns,
    s.model as screening_model,
    s.created_at as screening_created_at
  from job_applications ja
  join job_postings jp on jp.id = ja.job_id
  join candidate_profiles cp on cp.id = ja.candidate_id
  join profiles p on p.id = cp.user_id
  left join application_screenings s on s.application_id = ja.id
  where exists (
    select 1
    from profiles viewer
    where viewer.id = auth.uid()
      and viewer.role in ('admin', 'hr')
  )
  order by ja.created_at desc;
$$;


ALTER FUNCTION "public"."get_application_reviews"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_basic_profiles"("profile_ids" "uuid"[]) RETURNS TABLE("id" "uuid", "full_name" "text", "email" "text")
    LANGUAGE "sql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  select p.id, p.full_name, p.email
  from profiles p
  where p.id = any(profile_ids);
$$;


ALTER FUNCTION "public"."get_basic_profiles"("profile_ids" "uuid"[]) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
begin
  insert into public.profiles (id, email, full_name, role, status)
  values (
    new.id,
    coalesce(new.email, ''),
    coalesce(new.raw_user_meta_data->>'full_name', split_part(coalesce(new.email, ''), '@', 1), 'New User'),
    'candidate'::public.user_role,
    'active'::public.profile_status
  );

  return new;
end;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  new.updated_at = now();
  return new;
end;
$$;


ALTER FUNCTION "public"."set_updated_at"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."ai_analytics_insights" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "scope" "text" DEFAULT 'admin'::"text" NOT NULL,
    "summary" "text" NOT NULL,
    "recruitment_insights" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "workforce_insights" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "suggested_actions" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "generated_by" "uuid",
    "generated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "ai_analytics_insights_scope_check" CHECK (("scope" = ANY (ARRAY['admin'::"text", 'hr'::"text"])))
);


ALTER TABLE "public"."ai_analytics_insights" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."ai_employee_insights" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "employee_id" "uuid" NOT NULL,
    "summary" "text" NOT NULL,
    "strengths" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "focus_areas" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "suggested_actions" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "generated_by" "uuid",
    "generated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."ai_employee_insights" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."ai_workforce_insights" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "summary" "text" NOT NULL,
    "strengths" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "attention_areas" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "suggested_actions" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "generated_by" "uuid",
    "generated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "scope" "text" DEFAULT 'admin'::"text" NOT NULL,
    CONSTRAINT "ai_workforce_insights_scope_check" CHECK (("scope" = ANY (ARRAY['admin'::"text", 'hr'::"text"])))
);


ALTER TABLE "public"."ai_workforce_insights" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."application_screenings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "application_id" "uuid" NOT NULL,
    "score" integer NOT NULL,
    "recommendation" "public"."screening_recommendation" NOT NULL,
    "summary" "text" NOT NULL,
    "strengths" "text"[] DEFAULT '{}'::"text"[] NOT NULL,
    "concerns" "text"[] DEFAULT '{}'::"text"[] NOT NULL,
    "model" "text" NOT NULL,
    "raw_response" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "application_screenings_score_check" CHECK ((("score" >= 0) AND ("score" <= 100)))
);


ALTER TABLE "public"."application_screenings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."candidate_profiles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "resume_url" "text",
    "resume_text" "text",
    "parsed_resume_json" "jsonb",
    "skills" "text"[] DEFAULT '{}'::"text"[],
    "experience_years" numeric,
    "education" "text",
    "portfolio_url" "text",
    "linkedin_url" "text",
    "github_url" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."candidate_profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."departments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."departments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."employee_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "employee_id" "uuid" NOT NULL,
    "request_type" "text" NOT NULL,
    "status" "text" DEFAULT 'submitted'::"text" NOT NULL,
    "priority" "text" DEFAULT 'normal'::"text" NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "hr_response" "text",
    "reviewed_by" "uuid",
    "reviewed_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "employee_requests_priority_check" CHECK (("priority" = ANY (ARRAY['low'::"text", 'normal'::"text", 'high'::"text"]))),
    CONSTRAINT "employee_requests_request_type_check" CHECK (("request_type" = ANY (ARRAY['leave'::"text", 'work_from_home'::"text", 'document'::"text", 'payroll'::"text", 'profile_update'::"text", 'equipment'::"text", 'general'::"text"]))),
    CONSTRAINT "employee_requests_status_check" CHECK (("status" = ANY (ARRAY['submitted'::"text", 'in_review'::"text", 'approved'::"text", 'rejected'::"text", 'resolved'::"text", 'cancelled'::"text"])))
);


ALTER TABLE "public"."employee_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."employees" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "application_id" "uuid",
    "department_id" "uuid",
    "full_name" "text" NOT NULL,
    "email" "text",
    "job_title" "text",
    "employment_status" "text" DEFAULT 'active'::"text" NOT NULL,
    "employment_type" "text" DEFAULT 'full_time'::"text" NOT NULL,
    "location" "text",
    "joined_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "performance_score" integer,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "profile_id" "uuid",
    CONSTRAINT "employees_employment_status_check" CHECK (("employment_status" = ANY (ARRAY['active'::"text", 'on_leave'::"text", 'inactive'::"text"]))),
    CONSTRAINT "employees_employment_type_check" CHECK (("employment_type" = ANY (ARRAY['full_time'::"text", 'part_time'::"text", 'contract'::"text", 'intern'::"text"]))),
    CONSTRAINT "employees_performance_score_check" CHECK ((("performance_score" IS NULL) OR (("performance_score" >= 0) AND ("performance_score" <= 100))))
);


ALTER TABLE "public"."employees" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."interviews" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "application_id" "uuid" NOT NULL,
    "job_id" "uuid" NOT NULL,
    "candidate_id" "uuid" NOT NULL,
    "scheduled_at" timestamp with time zone NOT NULL,
    "duration_minutes" integer DEFAULT 30 NOT NULL,
    "mode" "text" DEFAULT 'online'::"text" NOT NULL,
    "meeting_link" "text",
    "location" "text",
    "notes" "text",
    "status" "text" DEFAULT 'scheduled'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "transcript" "text",
    "ai_feedback" "text",
    "ai_score" integer,
    "ai_recommendation" "text",
    "interviewer_feedback" "text",
    "final_decision" "text",
    "completed_at" timestamp with time zone,
    CONSTRAINT "interviews_ai_recommendation_check" CHECK ((("ai_recommendation" IS NULL) OR ("ai_recommendation" = ANY (ARRAY['strong_hire'::"text", 'hire'::"text", 'hold'::"text", 'reject'::"text"])))),
    CONSTRAINT "interviews_ai_score_check" CHECK ((("ai_score" IS NULL) OR (("ai_score" >= 0) AND ("ai_score" <= 100)))),
    CONSTRAINT "interviews_duration_check" CHECK (("duration_minutes" = ANY (ARRAY[30, 45, 60]))),
    CONSTRAINT "interviews_final_decision_check" CHECK ((("final_decision" IS NULL) OR ("final_decision" = ANY (ARRAY['selected'::"text", 'rejected'::"text", 'hold'::"text"])))),
    CONSTRAINT "interviews_mode_check" CHECK (("mode" = ANY (ARRAY['online'::"text", 'in_person'::"text", 'phone'::"text"]))),
    CONSTRAINT "interviews_status_check" CHECK (("status" = ANY (ARRAY['scheduled'::"text", 'completed'::"text", 'cancelled'::"text"])))
);


ALTER TABLE "public"."interviews" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."job_applications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "job_id" "uuid" NOT NULL,
    "candidate_id" "uuid" NOT NULL,
    "status" "public"."application_status" DEFAULT 'applied'::"public"."application_status" NOT NULL,
    "source" "text" DEFAULT 'direct'::"text",
    "cover_note" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."job_applications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."job_postings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "title" "text" NOT NULL,
    "department_id" "uuid",
    "description" "text" NOT NULL,
    "required_skills" "text"[] DEFAULT '{}'::"text"[],
    "location" "text",
    "employment_type" "public"."employment_type",
    "status" "public"."job_status" DEFAULT 'draft'::"public"."job_status" NOT NULL,
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."job_postings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."leave_request_details" (
    "request_id" "uuid" NOT NULL,
    "leave_type" "text" NOT NULL,
    "start_date" "date" NOT NULL,
    "end_date" "date" NOT NULL,
    "day_count" numeric(5,2) NOT NULL,
    "reason" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "leave_request_details_day_count_check" CHECK (("day_count" > (0)::numeric)),
    CONSTRAINT "leave_request_details_leave_type_check" CHECK (("leave_type" = ANY (ARRAY['casual'::"text", 'sick'::"text", 'earned'::"text", 'unpaid'::"text", 'other'::"text"])))
);


ALTER TABLE "public"."leave_request_details" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "full_name" "text" NOT NULL,
    "role" "public"."user_role" DEFAULT 'candidate'::"public"."user_role" NOT NULL,
    "department_id" "uuid",
    "job_title" "text",
    "phone" "text",
    "status" "public"."profile_status" DEFAULT 'active'::"public"."profile_status" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


ALTER TABLE ONLY "public"."ai_analytics_insights"
    ADD CONSTRAINT "ai_analytics_insights_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."ai_employee_insights"
    ADD CONSTRAINT "ai_employee_insights_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."ai_workforce_insights"
    ADD CONSTRAINT "ai_workforce_insights_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."application_screenings"
    ADD CONSTRAINT "application_screenings_application_id_key" UNIQUE ("application_id");



ALTER TABLE ONLY "public"."application_screenings"
    ADD CONSTRAINT "application_screenings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."candidate_profiles"
    ADD CONSTRAINT "candidate_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."candidate_profiles"
    ADD CONSTRAINT "candidate_profiles_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."departments"
    ADD CONSTRAINT "departments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."employee_requests"
    ADD CONSTRAINT "employee_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."interviews"
    ADD CONSTRAINT "interviews_application_id_key" UNIQUE ("application_id");



ALTER TABLE ONLY "public"."interviews"
    ADD CONSTRAINT "interviews_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."job_applications"
    ADD CONSTRAINT "job_applications_job_id_candidate_id_key" UNIQUE ("job_id", "candidate_id");



ALTER TABLE ONLY "public"."job_applications"
    ADD CONSTRAINT "job_applications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."job_postings"
    ADD CONSTRAINT "job_postings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."leave_request_details"
    ADD CONSTRAINT "leave_request_details_pkey" PRIMARY KEY ("request_id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



CREATE INDEX "ai_analytics_insights_scope_generated_at_idx" ON "public"."ai_analytics_insights" USING "btree" ("scope", "generated_at" DESC);



CREATE INDEX "ai_employee_insights_employee_generated_at_idx" ON "public"."ai_employee_insights" USING "btree" ("employee_id", "generated_at" DESC);



CREATE INDEX "ai_workforce_insights_scope_generated_at_idx" ON "public"."ai_workforce_insights" USING "btree" ("scope", "generated_at" DESC);



CREATE INDEX "employee_requests_employee_created_at_idx" ON "public"."employee_requests" USING "btree" ("employee_id", "created_at" DESC);



CREATE INDEX "employee_requests_status_created_at_idx" ON "public"."employee_requests" USING "btree" ("status", "created_at" DESC);



CREATE INDEX "employee_requests_type_created_at_idx" ON "public"."employee_requests" USING "btree" ("request_type", "created_at" DESC);



CREATE INDEX "interviews_candidate_id_idx" ON "public"."interviews" USING "btree" ("candidate_id");



CREATE INDEX "interviews_job_id_idx" ON "public"."interviews" USING "btree" ("job_id");



CREATE INDEX "interviews_scheduled_at_idx" ON "public"."interviews" USING "btree" ("scheduled_at");



CREATE OR REPLACE TRIGGER "job_postings_updated_at" BEFORE UPDATE ON "public"."job_postings" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "set_interviews_updated_at" BEFORE UPDATE ON "public"."interviews" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



ALTER TABLE ONLY "public"."ai_analytics_insights"
    ADD CONSTRAINT "ai_analytics_insights_generated_by_fkey" FOREIGN KEY ("generated_by") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."ai_employee_insights"
    ADD CONSTRAINT "ai_employee_insights_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "public"."employees"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."ai_employee_insights"
    ADD CONSTRAINT "ai_employee_insights_generated_by_fkey" FOREIGN KEY ("generated_by") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."ai_workforce_insights"
    ADD CONSTRAINT "ai_workforce_insights_generated_by_fkey" FOREIGN KEY ("generated_by") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."application_screenings"
    ADD CONSTRAINT "application_screenings_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "public"."job_applications"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."candidate_profiles"
    ADD CONSTRAINT "candidate_profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."employee_requests"
    ADD CONSTRAINT "employee_requests_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "public"."employees"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."employee_requests"
    ADD CONSTRAINT "employee_requests_reviewed_by_fkey" FOREIGN KEY ("reviewed_by") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "public"."job_applications"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_department_id_fkey" FOREIGN KEY ("department_id") REFERENCES "public"."departments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_profile_id_fkey" FOREIGN KEY ("profile_id") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."interviews"
    ADD CONSTRAINT "interviews_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "public"."job_applications"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."interviews"
    ADD CONSTRAINT "interviews_candidate_id_fkey" FOREIGN KEY ("candidate_id") REFERENCES "public"."candidate_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."interviews"
    ADD CONSTRAINT "interviews_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "public"."job_postings"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."job_applications"
    ADD CONSTRAINT "job_applications_candidate_id_fkey" FOREIGN KEY ("candidate_id") REFERENCES "public"."candidate_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."job_applications"
    ADD CONSTRAINT "job_applications_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "public"."job_postings"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."job_postings"
    ADD CONSTRAINT "job_postings_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."job_postings"
    ADD CONSTRAINT "job_postings_department_id_fkey" FOREIGN KEY ("department_id") REFERENCES "public"."departments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."leave_request_details"
    ADD CONSTRAINT "leave_request_details_request_id_fkey" FOREIGN KEY ("request_id") REFERENCES "public"."employee_requests"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_department_id_fkey" FOREIGN KEY ("department_id") REFERENCES "public"."departments"("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Admin and HR can create job postings" ON "public"."job_postings" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admin and HR can read all job postings" ON "public"."job_postings" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admin and HR can read candidate profiles" ON "public"."candidate_profiles" FOR SELECT USING (("public"."current_user_role"() = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"])));



CREATE POLICY "Admin and HR can update job postings" ON "public"."job_postings" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can create analytics insights" ON "public"."ai_analytics_insights" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can create workforce insights" ON "public"."ai_workforce_insights" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can manage employees" ON "public"."employees" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"])))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can manage interviews" ON "public"."interviews" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"])))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can read analytics insights" ON "public"."ai_analytics_insights" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can read employee requests" ON "public"."employee_requests" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can read employees" ON "public"."employees" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can read leave request details" ON "public"."leave_request_details" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can read workforce insights" ON "public"."ai_workforce_insights" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can update employee requests" ON "public"."employee_requests" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"])))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Admins and HR can view interviews" ON "public"."interviews" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "Anyone can read open job postings" ON "public"."job_postings" FOR SELECT USING (("status" = 'open'::"public"."job_status"));



CREATE POLICY "Candidates can insert own candidate profile" ON "public"."candidate_profiles" FOR INSERT WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "Candidates can read own candidate profile" ON "public"."candidate_profiles" FOR SELECT USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Candidates can schedule own shortlisted interviews" ON "public"."interviews" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM ("public"."job_applications" "ja"
     JOIN "public"."candidate_profiles" "cp" ON (("cp"."id" = "ja"."candidate_id")))
  WHERE (("ja"."id" = "interviews"."application_id") AND ("ja"."job_id" = "interviews"."job_id") AND ("ja"."candidate_id" = "interviews"."candidate_id") AND ("ja"."status" = 'shortlisted'::"public"."application_status") AND ("cp"."user_id" = "auth"."uid"())))));



CREATE POLICY "Candidates can update own candidate profile" ON "public"."candidate_profiles" FOR UPDATE USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "Candidates can view own interviews" ON "public"."interviews" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."candidate_profiles" "cp"
  WHERE (("cp"."id" = "interviews"."candidate_id") AND ("cp"."user_id" = "auth"."uid"())))));



CREATE POLICY "Employees can create their own employee insights" ON "public"."ai_employee_insights" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."employees"
  WHERE (("employees"."id" = "ai_employee_insights"."employee_id") AND ("employees"."profile_id" = "auth"."uid"())))));



CREATE POLICY "Employees can create their own leave request details" ON "public"."leave_request_details" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM ("public"."employee_requests"
     JOIN "public"."employees" ON (("employees"."id" = "employee_requests"."employee_id")))
  WHERE (("employee_requests"."id" = "leave_request_details"."request_id") AND ("employees"."profile_id" = "auth"."uid"())))));



CREATE POLICY "Employees can create their own requests" ON "public"."employee_requests" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."employees"
  WHERE (("employees"."id" = "employee_requests"."employee_id") AND ("employees"."profile_id" = "auth"."uid"())))));



CREATE POLICY "Employees can read their own employee insights" ON "public"."ai_employee_insights" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."employees"
  WHERE (("employees"."id" = "ai_employee_insights"."employee_id") AND ("employees"."profile_id" = "auth"."uid"())))));



CREATE POLICY "Employees can read their own employee row" ON "public"."employees" FOR SELECT TO "authenticated" USING (("profile_id" = "auth"."uid"()));



CREATE POLICY "Employees can read their own leave request details" ON "public"."leave_request_details" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM ("public"."employee_requests"
     JOIN "public"."employees" ON (("employees"."id" = "employee_requests"."employee_id")))
  WHERE (("employee_requests"."id" = "leave_request_details"."request_id") AND ("employees"."profile_id" = "auth"."uid"())))));



CREATE POLICY "Employees can read their own requests" ON "public"."employee_requests" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."employees"
  WHERE (("employees"."id" = "employee_requests"."employee_id") AND ("employees"."profile_id" = "auth"."uid"())))));



CREATE POLICY "Users can read own profile" ON "public"."profiles" FOR SELECT TO "authenticated" USING (("id" = "auth"."uid"()));



CREATE POLICY "Users can update own profile" ON "public"."profiles" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view own profile" ON "public"."profiles" FOR SELECT USING (("auth"."uid"() = "id"));



CREATE POLICY "admin_hr_can_insert_application_screenings" ON "public"."application_screenings" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "admin_hr_can_read_application_screenings" ON "public"."application_screenings" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



CREATE POLICY "admin_hr_can_update_application_screenings" ON "public"."application_screenings" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"])))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'hr'::"public"."user_role"]))))));



ALTER TABLE "public"."ai_analytics_insights" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."ai_employee_insights" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."ai_workforce_insights" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."application_screenings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."candidate_profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."employee_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."employees" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."interviews" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."job_postings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."leave_request_details" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."current_user_role"() TO "anon";
GRANT ALL ON FUNCTION "public"."current_user_role"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."current_user_role"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_application_reviews"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_application_reviews"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_application_reviews"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_basic_profiles"("profile_ids" "uuid"[]) TO "anon";
GRANT ALL ON FUNCTION "public"."get_basic_profiles"("profile_ids" "uuid"[]) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_basic_profiles"("profile_ids" "uuid"[]) TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_updated_at"() TO "service_role";



GRANT ALL ON TABLE "public"."ai_analytics_insights" TO "anon";
GRANT ALL ON TABLE "public"."ai_analytics_insights" TO "authenticated";
GRANT ALL ON TABLE "public"."ai_analytics_insights" TO "service_role";



GRANT ALL ON TABLE "public"."ai_employee_insights" TO "anon";
GRANT ALL ON TABLE "public"."ai_employee_insights" TO "authenticated";
GRANT ALL ON TABLE "public"."ai_employee_insights" TO "service_role";



GRANT ALL ON TABLE "public"."ai_workforce_insights" TO "anon";
GRANT ALL ON TABLE "public"."ai_workforce_insights" TO "authenticated";
GRANT ALL ON TABLE "public"."ai_workforce_insights" TO "service_role";



GRANT ALL ON TABLE "public"."application_screenings" TO "anon";
GRANT ALL ON TABLE "public"."application_screenings" TO "authenticated";
GRANT ALL ON TABLE "public"."application_screenings" TO "service_role";



GRANT ALL ON TABLE "public"."candidate_profiles" TO "anon";
GRANT ALL ON TABLE "public"."candidate_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."candidate_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."departments" TO "anon";
GRANT ALL ON TABLE "public"."departments" TO "authenticated";
GRANT ALL ON TABLE "public"."departments" TO "service_role";



GRANT ALL ON TABLE "public"."employee_requests" TO "anon";
GRANT ALL ON TABLE "public"."employee_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."employee_requests" TO "service_role";



GRANT ALL ON TABLE "public"."employees" TO "anon";
GRANT ALL ON TABLE "public"."employees" TO "authenticated";
GRANT ALL ON TABLE "public"."employees" TO "service_role";



GRANT ALL ON TABLE "public"."interviews" TO "anon";
GRANT ALL ON TABLE "public"."interviews" TO "authenticated";
GRANT ALL ON TABLE "public"."interviews" TO "service_role";



GRANT ALL ON TABLE "public"."job_applications" TO "anon";
GRANT ALL ON TABLE "public"."job_applications" TO "authenticated";
GRANT ALL ON TABLE "public"."job_applications" TO "service_role";



GRANT ALL ON TABLE "public"."job_postings" TO "anon";
GRANT ALL ON TABLE "public"."job_postings" TO "authenticated";
GRANT ALL ON TABLE "public"."job_postings" TO "service_role";



GRANT ALL ON TABLE "public"."leave_request_details" TO "anon";
GRANT ALL ON TABLE "public"."leave_request_details" TO "authenticated";
GRANT ALL ON TABLE "public"."leave_request_details" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







